/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
:root {
  --yellow: #fca311;
  --dark-blue: #14213d;
  --off-white: #e5e5e5;
  --darkest-blue: #0c1322;
  /* Dark Mode */
  --slate: #2b3c4f;
  --gunmetal-blue: #1a2227;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--gunmetal-blue);
  color: var(--off-white);
}


/* header */
.header {
  justify-content: center;
  text-align: center;
}

/* Retro Highlight */
#retro {
  padding: 2vw;
  background-color: var(--slate);
}

.hovercap {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.hovercap {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.hoverwrap:hover .hovercap {
  visibility: visible;
  opacity: 1;
}

/* product cards */
#category {
  justify-content: center;
  padding: 4px;
}

.cards-wrapper-cat {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#cat-card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 12px;
  margin-left: 1em;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#retro-card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 12px;
  margin: 0 0.5em 5em 0.5em;
}

#retro-card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 12px;
  margin: 0 0.5em 5em 0.5em;
}

.card-wrapper > a:hover {
  color: var(--off-white);
}

#card {
  border: none;
  border-radius: 12px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.card-body {
  color: #ffff;
  background-color: var(--slate);
  text-align: center;
}

.c-btn {
  background-color: var(--yellow);
  padding: 10px;
  margin-right: 0.5vw;
  margin-bottom: 10px;
  color: white;
  font-weight: 10px;
  border: none;
  border-radius: 12px;
}

@media screen and (min-width: 568px) {
  #cat-card {
    max-width: 40vw;
  }

  #cat-img-text {
    color: white;
    position: absolute;
    bottom: 0;
    left: 16vw;
    font-size: 1vw;
  }

  #mobile-header,
  #mobile-carousel,
  #mobile-retro,
  #mob-category {
    display: none;
  }

  .mobile-img-wrapper > img {
    max-height: 10vh;
    width: 100vw;
  }

  .cards-wrapper {
    justify-content: center;
    display: flex;
  }

  #card {
    margin: 0 0.5em 5em 0.5em;
    width: calc(100% / 5);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  #card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }

  #cat-card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
}
@media screen and (max-width: 567px) {
  #cat-card {
    max-width: 45vw;
  }

  #mob-cat-card{
    margin-bottom: 10px;
    border: none;
  }

  #cat-txt{
    color: white;
    font-size: large;
    margin-bottom: 5px;
  }

  #cat-img-text {
    color: white;
    position: absolute;
    bottom: 0;
    left: 10vw;
    font-size: 3vw;
  }

  .card-text, .retro-heading{
    font-size: large;
  }

  #trending,
  #retro,
  #web-header,
  #category {
    display: none;
  }

  #mob-category {
    justify-content: center;
    text-align: center;
  }
  

  .mob-cards-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .mob-retro-head {
    position: absolute;
    font-size: 2vh;
    bottom: 47vh;
    left: 2.5vw;
    font-size: larger;
    color: #ffff;
  }
  .mob-retro-buttons {
    position: absolute;
    bottom: 11px;
    left: 75px;
  }
}

/* buttons */
.bts {
  text-align: center;
}

.btn {
  background-color: var(--yellow);
  margin-top: 10px;
  margin-right: 10px;
}

/* Provide sufficient contrast against white background */
a {
  text-decoration: none;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
