/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


#web-header{
  text-align: center;
}

.logo{
  font-family: 'Roboto', sans-serif;
}

#cards{
  border: none;
  width: 20vw;
  border-radius: 12px;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

#cards:hover{
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.bts{
  text-align: center;
}

.btn{
  background-color: #0366d6;
  margin-top: 10px;
  margin-right: 10px;
}

/* Provide sufficient contrast against white background */
a {
  color: #fff;
  text-decoration: none;
}


code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

