<div class="row">
  <div class="col">
    <p>Please contact us using the below form</p>
    <ul class="list-group">
      <li class="list-group-item">Email: contact-us@revtech.azurewebsites.net</li>
      <li class="list-group-item">Phone: 1-800-238-2222</li>
      <li class="list-group-item">Twitter: RevTech</li>
    </ul>
  </div>
  <div class="col">
    <form
      class="addPost"
      action="https://formspree.io/f/xoqbllzg"
      method="POST"
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="content">Message</label>
        <textarea
          name="content"
          id=""
          cols="30"
          rows="10"
          class="form-control"
        ></textarea>
      </div>
      <input type="submit" value="Send" class="btn btn-secondary" />
    </form>
  </div>
</div>

<!-- <input type="text" placeholder="Name" class="form-control" id="fName"/>
            <input type="email" name="email" id="fEmail" placeholder="name@example.com"class="form-control">
            <textarea name="Description" id="fDescription" cols="30" rows="10" class="form-control"></textarea>
            <input type="submit" class="btn btn-secondary"> -->
