.row{
    background-color: #14213d;
    color: #e5e5e5;
    border-radius: 3%;
    position: absolute;
    left: 35%;
    top: 30%;
}
input, textarea{
    background-color: #e5e5e5;
}
.btn{
    background-color: #FCA311;
}
h6{
    color: #FCA311;
}
