
<div class="row">
    <div class="col">
        <div id="header">
            <h1>contact us</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item">email: fake@email.com</li>
            <li class="list-group-item">phone: 222-222-2222</li>
            <li class="list-group-item">twitter: company name</li>
        </ul>
    </div>
    <div class="col">
        <form class="addPost" action="https://formsubmit.co/quinlan236@revature.net" method="post">
            <div class="form-group">
                <input type="hidden" name="_subject" value="Customer Feedback">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="https://localhost:44424/contact-us">
            <label for="name">name</label>
            <input type="text" name="name" id="" class="form-control">
            </div>
            <div class="form-group">
            <label for="email">email</label>
            <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
            <label for="content">content</label>
            <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <input type="submit" class="btn btn-secondary">
        </form>
    </div>
</div>


            <!-- <input type="text" placeholder="Name" class="form-control" id="fName"/>
            <input type="email" name="email" id="fEmail" placeholder="name@example.com"class="form-control">
            <textarea name="Description" id="fDescription" cols="30" rows="10" class="form-control"></textarea>
            <input type="submit" class="btn btn-secondary"> -->
