
<mat-card class="example-card">
  <div class="inner-example-card">

    <div class="row">
      <div class="column">
        <h1 class="text-center"> Your items </h1>
        <div class="product-card" *ngFor="let item of cart2">
          <mat-card-header>
            <span>
              <mat-card-title>{{item.productName}}</mat-card-title>
              <mat-card-subtitle>{{item.productCategory}}</mat-card-subtitle>
            </span>

          </mat-card-header>

          <div class="mat-card-image-pay">
            <img style="padding-top: 20px"
                 mat-card-image
                 src="{{ item.productImgUrl }}"
                 alt="Photo of a Shiba Inu" />
          </div>

          <mat-card-content>
            <p>
              {{item.productDescription}}
            </p>
            <p>
              {{item.productPrice|currency:'USD'}}
            </p>
            <button mat-raised-button class="btn" (click)="removeItem(item.productId)">Remove</button>
          </mat-card-content>

        </div>
      </div>

      <div class="column">
        <mat-card class="card-checkout">
          <h1>Your cart</h1>

          <div class="table-container">


            <table>
              <thead>
                <tr>
                  <th> Product Name </th>
                  <th> Product Price </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cart2">

                  <p>
                  <td>{{ item.productName }}</td></p>
                  <td>{{ item.productPrice | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <h3><strong>Your total: ${{subtotal}}</strong></h3>
         
          <button id="confirm" class="btn" style="background-color: #2B4F9D; color: #ffffff" (click)="makePayment(subtotal)" (click)="confirmCheckout()"
                 >Place Order</button>

          
        </mat-card>
      </div>
   
  </div>
    </div>


</mat-card>


      

