<div #paypalRef></div>

<button (click)="addCart()">Save Data</button>
<button (click)="showCart()">Show Data</button>

<div *ngFor="let item of cart2">
  <h1>{{item.productName}}</h1>
</div>
<hr>

<div class="cardHolder">

  <div  *ngFor="let item of cart2">
    <mat-card class="example-card prodCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item.productName}}</mat-card-title>
        <mat-card-subtitle>{{item.productCategory}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{item.productDescription}}
        </p>
        <p>
          {{item.productPrice}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

