
<mat-card>
  <mat-card-title> Update Product </mat-card-title>
  <mat-card-content style="padding-top:20px">
    <form>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <input matInput placeholder="Category" formControlName="category">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Image URL</mat-label>
          <input matInput placeholder="Image URL" formControlName="imageurl">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Price" formControlName="price">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Quantity" formControlName="quantity">
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary">Update User</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
