<!--<mat-card class="example-card" style="margin: 20px; text-align: center;">
  <div mat-card-avatar class="example-header-image"></div>

  <mat-card-title>{{product?.productName}}</mat-card-title>
  <mat-card-subtitle>{{product?.productCategory}}</mat-card-subtitle>

<img mat-card-xxl-image src={{product?.productImgUrl}} alt="Photo of product">
<mat-card-content>
  <p>
    {{product?.productDescription}}
  </p>
</mat-card-content>
<mat-card-actions>
  <button (click) = "addCart(product?.productId)" mat-button>Add To Cart</button>
</mat-card-actions>
</mat-card>

