<mat-card class="example-card" style="margin:20px ;text-align: center;">
   
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title >UHD TV TU7000 Series</mat-card-title>
    <mat-card-subtitle>Computers & Displays</mat-card-subtitle>
  
  <img mat-card-xxl-image src="https://target.scene7.com/is/image/Target/GUEST_4e327478-bf8d-4c8f-a90a-7c561597896c?qlt=85&fmt=webp&hei=500&wid=500" alt="Photo of product">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vitae saepe facilis quod itaque, laborum dignissimos assumenda labore facere, esse soluta nobis adipisci sit? Id dolor voluptatum impedit iusto dolorem.
    </p>
    <!--Test Comment-->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add To Cart</button>
  </mat-card-actions>
</mat-card>
