<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>


    <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        body{
            background-color: #e5e5e5;
        }

        .login-block {
            float: left;
            width: 100%;
            padding: 50px 0;
        }

        .mycontainer {
            background: #14213d;
           
            border-radius: 10px;
            margin-left:30%;
            color:white;
            width: 40%; 
            height: 40%;
        }

        .login-sec {
            padding: 50px 30px;
            position: relative;
        }

            .login-sec h2 {
                margin-bottom: 30px;
                font-weight: 800;
                font-size: 30px;
                color: white;
            }

                .login-sec h2:after {
                    content: " ";
                    width: 100px;
                    height: 5px;
                    background: #fca311;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                    margin-left: auto;
                    margin-right: auto
                }

        .btn-login{
            background: #fca311;
            margin:30px;
            color: #fff;
            font-weight: 600;
        }
        .btn-login:hover{
                background: #fca311;
                margin: 30px;
                color: #fff;
                font-weight: 600;
        }
        .form-floating{
            margin:15px;
        }
        .form-label{
            color:#14213d;
        }
        .checkbox{
            margin:15px;
        }
        p:link{
            box-shadow: none;
            text-decoration: none;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    revTech
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                        <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
                    </svg>
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-label="Toggle navigation"
                        [attr.aria-expanded]="isExpanded"
                        (click)="toggle()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Identity/Account/Register?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dproject3%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A44424%252Fauthentication%252Flogin-callback%26response_type%3Dcode%26scope%3Dproject3API%2520openid%2520profile%26state%3D760df1fd52a74bdb9e02c45dda9a865d%26code_challenge%3D5hPajWn726MxAx3EMvlk7TRthXssqZDCMGwP9__uZJ0%26code_challenge_method%3DS256%26response_mode%3Dquery">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Identity/Account/Login?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dproject3%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A44424%252Fauthentication%252Flogin-callback%26response_type%3Dcode%26scope%3Dproject3API%2520openid%2520profile%26state%3D760df1fd52a74bdb9e02c45dda9a865d%26code_challenge%3D5hPajWn726MxAx3EMvlk7TRthXssqZDCMGwP9__uZJ0%26code_challenge_method%3DS256%26response_mode%3Dquery">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="login-block">
        <div class="mycontainer">
         <main role="main" class="pb-1">


            <div class="row">
               
               <!-- <div id="formContent"> -->
                    <div class="col login-sec">
                        <h1 class="text-center">Login</h1>
                    </div>
                   
                        <form  id="account" method="post" novalidate="novalidate">
                           

                            <div class="form-floating">
                                <input class="form-control valid" autocomplete="username" aria-required="true" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="" aria-describedby="Input_Email-error" aria-invalid="false">
                                <label class="form-label" for="Input_Email">Email</label>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-floating">
                                <input class="form-control valid" autocomplete="current-password" aria-required="true" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password" aria-describedby="Input_Password-error" aria-invalid="false">
                                <label class="form-label" for="Input_Password">Password</label>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label style="color:white;" class="form-label" for="Input_RememberMe">
                                        <input class="form-check-input" type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                                        Remember me?
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-50 btn btn-login btn-primary">Log in</button>
                            </div>
                            <div style="margin:15px;">
                                <p>
                                    <a style="color:white;" id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                <a style="color:white;" href="/Identity/Account/Register?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dproject3%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A44424%252Fauthentication%252Flogin-callback%26response_type%3Dcode%26scope%3Dproject3API%2520openid%2520profile%26state%3D760df1fd52a74bdb9e02c45dda9a865d%26code_challenge%3D5hPajWn726MxAx3EMvlk7TRthXssqZDCMGwP9__uZJ0%26code_challenge_method%3DS256%26response_mode%3Dquery">Register as a new user</a>
                                </p>
                                
                            </div>
                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EIbChbWd0RHt6IQKyEL8LyldlP73HwtCAaz26EO-vBn5nvK34Egh2LZMzry8G6MYZFPuvdm_xNq2P5RU0ORYdPFfeoKM1hackH81z5Hv6pPMkIVDrRA7bFrgJuz9I5hAIGyFv71a5h6OEEy_BZwChA"><input name="Input.RememberMe" type="hidden" value="false">
                        </form>
                   
                    
            </div>


            </main>
        </div>
    </section>
    <section class="footer">
        <footer class="p-2 bg-dark text-white text-center position-relative">
            <div>
                <p>Copyright &copy; 2022 Rev Tech</p>

                <a href="#" class="position-absolute bottom-0 end-0 p-5">
                    <i class="bi bi-arrow-up-circle text-light h1"></i>
                </a>
            </div>
        </footer>
    </section>




    <script src="/Identity/lib/jquery/dist/jquery.js"></script>
    <script src="/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/Identity/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>





    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>





    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="b1e634f0912f4ef9993cf121dbffc5b4" data-requestmappingfromserver="false" data-connecturl="http://localhost:56877/2d3a8e12b9ba4a34b1ffe656a138112d/browserLink"></script>
    <!-- End Browser Link -->

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
