<!-- header carousel with featured items ie TVs and Consoles -->
<section class="" id="web-header">
  <div class="logo">
    <h4>Use Code <br />"Revvy Retro" For 15 % off!</h4>
  </div>
  <!-- banner -->
  <section id="banner">
    <div class="banner-head-text">
      <h1 class="text-center">Join Us</h1>
      <p class="lead">Sign up now to keep up with all tech modern and retro!</p>
      <a href="">Sign Up</a>
    </div>
    <img src="https://drx-labs.com/header.png" alt="">
    <!-- <img
      src="https://via.placeholder.com/1650x250?text=Tech+and+Games"
      alt=""
    /> -->
  </section>
</section>

<!-- category cards -->
<section class="p5 my-5" id="category">
  <h1 class="text-center" id="head-text">Shop By Category</h1>
  <div class="cards-wrapper-cat">
    <a href="">
      <div class="card text-bg-dark" id="cat-card">
        <img src="https://drx-labs.com/lp.png" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <p class="card-text" id="cat-img-text">Computers & Displays</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card text-bg-dark" id="cat-card">
        <img src="https://drx-labs.com/senny.png" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <p class="card-text" id="cat-img-text">Communication & Audio</p>
        </div>
      </div>
    </a>
  </div>
  <div class="cards-wrapper-cat">
    <a href="">
      <div class="card text-bg-dark" id="cat-card">
        <img src="https://drx-labs.com/p5.png" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <p class="card-text" id="cat-img-text">Console Systems & Games</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card text-bg-dark" id="cat-card">
        <img src="https://drx-labs.com/ram.png" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <p class="card-text" id="cat-img-text">Components & Networking</p>
        </div>
      </div>
    </a>
  </div>
</section>
<!-- Retro spotlight -->
<section class="p5 my-5" id="retro">
  <h1 class="text-center" id="head-text">Revvy Retro Spotlight</h1>

  <div class="cards-wrapper">
    <div class="card text-bg-dark" id="retro-card">
      <div class="hoverwrap">
      <img
        src="https://drx-labs.com/colorfly-c4.png"
        class="card-img"
        alt="..."
      />
      <div class="card-img-overlay">
        <div class="hovercap">
        <div class="card-text" id="retro-text">
          <h1>Colorfly-c4 Hi-fi Player</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Voluptatum ex repudiandae amet aut soluta est!</p>
        </div>
        <a href="#" class="c-btn">Add To Cart</a>
        <a href="#" class="c-btn">Veiw Details</a>  
      </div>
    </div>
</div>
    </div>
    <div class="card text-bg-dark" id="retro-card">
      <div class="hoverwrap">
      <img src="https://drx-labs.com/stax.png" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <div class="hovercap">
        <div class="card-text">
          <h1>Stax SR-Lambda Pro</h1> 
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Error harum dolorem, ipsam explicabo ipsum architecto?</p>
        </div>
        <a href="#" class="c-btn">Add To Cart</a>
        <a href="#" class="c-btn">Veiw Details</a>  
      </div>
    </div>
  </div>
</div>
    <div class="card text-bg-dark" id="retro-card">
      <div class="hoverwrap">
      <img src="https://drx-labs.com/famicom.png" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <div class="hovercap">
        <div class="card-text">
          <h1>Japanese Famicom Console</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolorum natus voluptate sit commodi incidunt error.</p>
        </div>
        <a href="#" class="c-btn">Add To Cart</a>
        <a href="#" class="c-btn">Veiw Details</a>  
      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- Trending Items -->
<section id="trending">
  <div>
    <h1 class="text-center" id="head-text">Shop Our Trending Items</h1>
  </div>
  <div id="carousel-controls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card" id="card">
            <div class="img-wrapper">
              <img
                src="https://target.scene7.com/is/image/Target/GUEST_5151b214-96cf-4184-bc77-d8a5d71875cd?qlt=85&fmt=webp&hei=325&wid=325"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_4e327478-bf8d-4c8f-a90a-7c561597896c?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_e0557f9f-879e-40ac-8b9a-29b44336717e?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_0243fcd8-2522-4f46-961d-cde3b667f948?wid=325&hei=325&qlt=80&fmt=pjpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_5151b214-96cf-4184-bc77-d8a5d71875cd?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_4e327478-bf8d-4c8f-a90a-7c561597896c?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_e0557f9f-879e-40ac-8b9a-29b44336717e?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_0243fcd8-2522-4f46-961d-cde3b667f948?wid=325&hei=325&qlt=80&fmt=pjpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_5151b214-96cf-4184-bc77-d8a5d71875cd?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_4e327478-bf8d-4c8f-a90a-7c561597896c?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_e0557f9f-879e-40ac-8b9a-29b44336717e?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_0243fcd8-2522-4f46-961d-cde3b667f948?wid=325&hei=325&qlt=80&fmt=pjpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_5151b214-96cf-4184-bc77-d8a5d71875cd?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_4e327478-bf8d-4c8f-a90a-7c561597896c?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_e0557f9f-879e-40ac-8b9a-29b44336717e?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
             </div>
          </div>
          <div class="card" id="card">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_0243fcd8-2522-4f46-961d-cde3b667f948?wid=325&hei=325&qlt=80&fmt=pjpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <button href="#" class="c-btn">Add To Cart</button>
              <button href="#" class="c-btn">Veiw Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carousel-controls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carousel-controls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- mobile -->

<section class="p5 my-5" id="mobile-retro">
  <h1 class="text-center" id="head-text">Revvy Retro Spotlight</h1>

  <div class="cards-wrapper">
    <div class="card text-bg-dark" id="retro-card">
      <img
        src="https://drx-labs.com/colorfly-c4.png"
        class="card-img"
        alt="..."
      />
      <div class="card-img-overlay">
        <div class="card-text" id="retro-text">
          <div class="mob-retro-head">Colorfly-c4 Hi-fi Player</div>
        </div>
        <div class="mob-retro-buttons">
        <a href="#" class="c-btn">Add To Cart</a>
        <a href="#" class="c-btn">Veiw Details</a>  
      </div>
      </div>
    </div>
    <div class="card text-bg-dark" id="retro-card">
      <img src="https://drx-labs.com/stax.png" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <div class="card-text">
          <div class="mob-retro-head">Stax SR-Lambda Pro</div> 
        </div>
        <div class="mob-retro-buttons">
          <a href="#" class="c-btn">Add To Cart</a>
          <a href="#" class="c-btn">Veiw Details</a>  
        </div>
        </div>
    </div>
    <div class="card text-bg-dark" id="retro-card">
      <img src="https://drx-labs.com/famicom.png" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <div class="card-text">
          <div class="mob-retro-head">Japanese Famicom Console</div>
        </div>
        <div class="mob-retro-buttons">
          <a href="#" class="c-btn">Add To Cart</a>
          <a href="#" class="c-btn">Veiw Details</a>  
        </div>
        </div>
    </div>
  </div>
</section>

<section id="mobile-carousel" class="p5">
  <div>
    <h1 class="text-center" id="head-text">Shop Our Trending Items</h1>
  </div>
  <div
    id="carouselExampleControls"
    class="carousel slide carousel-dark"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mob-cards-wrapper">
          <div class="card" style="width: 18rem">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_e0557f9f-879e-40ac-8b9a-29b44336717e?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="c-btn">Add To Cart</a>
              <a href="#" class="c-btn">Veiw Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mob-cards-wrapper">
          <div class="card" style="width: 18rem">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_5151b214-96cf-4184-bc77-d8a5d71875cd?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="c-btn">Add To Cart</a>
              <a href="#" class="c-btn">Veiw Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mob-cards-wrapper">
          <div class="card" style="width: 18rem">
            <img
              src="https://target.scene7.com/is/image/Target/GUEST_4e327478-bf8d-4c8f-a90a-7c561597896c?qlt=85&fmt=webp&hei=325&wid=325"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h1 class="card-title">LG OLED</h1>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="c-btn">Add To Cart</a>
              <a href="#" class="c-btn">Veiw Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


<section class="footer">
  <footer class="p-2 bg-dark text-white text-center position-relative">
    <div class="container">
      <p>Copyright &copy; 2022 Rev Tech</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle text-light h1"></i>
      </a>
    </div>
  </footer>
</section>
