<!-- header carousel with featured items ie TVs and Consoles -->
<section id="web-header">
    <div class="logo"><h1>Revvy Retro</h1></div>
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="https://via.placeholder.com/1080x100" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://via.placeholder.com/1080x100" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="https://via.placeholder.com/1080x100" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</section>
<!-- second carousel with cards 4/5 display at a time -->
<div class="container py-5">
    <div class="justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card bg-dark text-white" id="cards">
          <img src="https://target.scene7.com/is/image/Target/GUEST_e0557f9f-879e-40ac-8b9a-29b44336717e?qlt=85&fmt=webp&hei=325&wid=325"
            class="card-img-top" alt="Vizio TV" />
          <div class="card-body">
            <div class="text-center">
              <p class="text-muted mb-4">Vizio HDTV</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Vizio HD TV</span><span>$$$</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Accesories</span><span>$$$</span>
              </div>
              <div class="bts">
              <span class="btn"><a href="">Add To Card</a></span>
              <span class="btn"><a href="">Veiw Details</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card 2 -->

  </div>
<section class="footer">
  <footer class="p-2 bg-dark text-white text-center position-relative">
    <div class="container">
        <p>Copyright &copy; 2022 Revvy Retro</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle text-light h1"></i>
        </a>
    </div>
</footer>


</section>