<h1>
  Hi {{ userName | async }}! Here are your orders:
</h1>
<p *ngIf="!orders"><em>Loading...</em></p>
<div>
  <table class="table table-borderless" *ngIf="orders">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Order Amount</th>
        <th>Order Status</th>
        <th>Product Name</th>
        <th>Product Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td> {{ order.orderId }} </td>
        <td> {{ order.orderDate | date }} </td>
        <td> {{ order.orderAmount | currency }} </td>
        <td> {{ order.orderStatus }} </td>
        <td> {{ order.productName }} </td>
        <td> {{ order.productPrice | currency }} </td>
      </tr>
    </tbody>
   
  </table>
</div>
