<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <h3>
    Hi {{ userName | async }}! Here are your orders-
  </h3>
  <p *ngIf="!orders"><em>Loading...</em></p>
  <table class="table table-striped" *ngIf="orders">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Order Amount</th>
        <th>User ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td> {{ order.ordersId }} </td>
        <td> {{ order.orderDate }} </td>
        <td> {{ order.orderAmount }} </td>
        <td> {{ order.userId }} </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
