<h3>
  Hi {{ userName | async }}! Here are your orders-
</h3>
<p *ngIf="!orders"><em>Loading...</em></p>
<table class="table" *ngIf="orders">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Order Amount</th>
      <th>Order Status</th>
      <th>Product Name</th>
      <th>Product Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td> {{ order.orderId }} </td>
      <td> {{ order.orderDate | date }} </td>
      <td> {{ order.orderAmount | currency }} </td>
      <td> {{ order.orderStatus }} </td>
      <td> {{ order.productName }} </td>
      <td> {{ order.productPrice | currency }} </td>
    </tr>
  </tbody>
</table>
