.cardHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
}

.prodCard {
  height: 690px;
  width: 375px;
  margin: 10px;
}

.example-container {
  width: 225px;
  margin-right: 10px;
  padding: 3px;
  text-align: left;
  font-size: small;
}

.filterButton {
    height: max-content;
    width: fit-content;
    margin: 10px;
}


/*Product Name*/
#pname {
  font-size: x-large;
  width: 315px;
  padding: 5px;
  text-align: center;
}

/*Link in product name*/
mat-card-title a {
    color: black;
}


/*Product Category*/
#pcategory {
  text-align: center;
}


/*Name and Category box*/
mat-card-header {
    height: 120px;
}


/*Product Description*/
#pdescribe {
  height: 90px;
  margin-left: 5px;
  margin-right: 5px;
}


/*Product Price*/
#pprice {
  font-size: x-large;
  display: inline-block;
  white-space: nowrap;
  margin-left: 30px;
}


/*Buy and Wishlist buttons*/
#pactions {
  display: inline-block;
  margin-left: 30px;
}
#pactions :hover {
    background-color: gold;
}
