<section class="product-head">
  Product List
</section>


<mat-drawer-container>
  <mat-drawer class="example-container" #sidenav mode="side">
    <br />

    <h1 style="text-align:center">Categories</h1> <br />
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div *ngFor="let category of categories; let i = index" style="margin-left:10px">
        <input type="checkbox" formArrayName="selectedCategories" [value]="category.value"
               (change)="onCheckboxChange($event)" />
        {{category.name}}
      </div>
      <br />
      <br />
      <div style="display: flex; flex-direction: row; width: 100%; margin-left:10px">
        <h4 style="margin-right: 10px;">Price is < </h4>
        <input type="number" style="width:50%; height:25px" placeholder="$" id="lessThan" />
      </div>


      <div style="display: flex; flex-direction: row; width: 100%; margin-left:10px">
        <h4 style="margin-right: 10px;">Price is > </h4>
        <input type="number" style="width:50%; height:25px" placeholder="$" id="greaterThan" />
      </div>

      <br />


      <div style="text-align:center">
        <button class="sort-btn-1" type="submit">Sort</button>
      </div>
    </form>
  </mat-drawer>

  <mat-drawer-content>
    <div class="filterButton">
      <button class="sort-btn" (click)="sidenav.toggle()">Click to Sort</button>
    </div>

    <div class="cardHolder">
      <div *ngFor="let item of filteredProducts">
        <mat-card *ngIf="
        searchTerm === '' ||
        item.productName.toLowerCase().includes(searchTerm.toLowerCase()) ||
        item.productCategory.toLowerCase().includes(searchTerm.toLowerCase()) ||
        item.productDescription.toLowerCase().includes(searchTerm.toLowerCase())
      " class="prodCard">
          <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title id="pname">
              <a [routerLink]="['/pdetails', item.productId]">
                {{ item.productName }}
              </a>
            </mat-card-title>
            <mat-card-subtitle id="pcategory">{{ item.productCategory }}</mat-card-subtitle>
          </mat-card-header>
          <a [routerLink]="['/pdetails', item.productId]">
            <img style="padding-top: 20px"
                 mat-card-image
                 src="{{ item.productImgUrl }}"
                 alt="Photo of a Shiba Inu" />
          </a>
          <mat-card-content>
            <p id="pdescribe">
              {{ item.productDescription }}
            </p>
            <p id="pprice">
              {{ item.productPrice | currency }}
            </p>

            <mat-card-actions id="pactions">
              <button class="prod-btn0" mat-button (click)="addCart(item.productId)">Buy</button>
              <button mat-button [routerLink]="['/pdetails', item.productId]">Details</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <section class="footer">
      <footer class="p-2 bg-dark text-white text-center position-relative">
        <div class="container">
          <p>Copyright &copy; 2022 revTech</p>

        </div>
      </footer>
    </section>

