.cardHolder {
  display: flex;
  flex-flow: row wrap
}

.prodCard {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}


.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.example-container {
  width: 225px;
  margin-right: 10px;
  padding: 3px;
  text-align: left;
  font-size: small;
}

.filterButton {
    height: max-content;
    width: fit-content;
    margin: 10px;

}
